"*":
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "about"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "dev-live-reload"
      "encoding-selector"
      "exception-reporting"
      "image-view"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-ruby-on-rails"
      "language-ruby"
      "metrics"
      "open-on-github"
      "package-generator"
      "styleguide"
      "welcome"
      "github"
      "linter"
    ]
    projectHome: "/home/douglas/Projects"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "behave-theme"
    ]
  editor:
    fontFamily: "Office Code Pro D"
    fontSize: 13
    preferredLineLength: 76
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    tags:
      signTags: true
  linter: {}
  "linter-eslint":
    disableWhenNoEslintConfig: false
    lintHtmlFiles: true
    useGlobalEslint: true
  "linter-stylelint":
    showIgnored: true
  "linter-tslint": {}
  "project-manager":
    alwaysOpenInSameWindow: true
    sortBy: "group"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".html.php.text":
  editor:
    tabLength: 4
".source.sql":
  editor:
    tabLength: 4
